
@model InventoryProject.ViewModels.ItemCustomer

@{ Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";}

<style>
    .column {
        float: left;
        width: 33%;
        padding: 50px;
    }

    .img {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 200px;
        height: 150px;
    }
    .button{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
</style>

<html>
<body>
    <h2 style="text-align:center">Camping World</h2>
    

    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container" style="padding-top:15px">
            <button type="button" onclick="location.href='@Url.Action("Index","Home")'">&lt&lt Back to Main</button>

            @if (Model.currentCustomer.FirstName == "Anonymous")
            {
                <div id="login" class="login-container nav navbar-right">
                    @using (Html.BeginForm("CustomerSignIn", "Customers"))
                    {
                        <div class="form-actions">
                            <input type="text" name="name" value="" />
                            <input type="submit" name="signin" value="Sign In" />
                        </div>
                    }
                </div>
            }
            else
            {
                <div style="color:#808080" class="navbar-right">
                    <p>Currently signed in as: @Model.currentCustomer.FirstName | @Html.ActionLink("Sign out", "StoreFront", "Items")</p>
                </div>
            }
        </div>
    </div>

    @foreach (var item in Model.Items)
    {
        <div class="column" style="border:ridge">
            <button class="button" onclick="location.href='@Url.Action("DetailsReadOnly","Items",new { id=item.Id})'">@Html.DisplayFor(modelItem => item.Name)</button>
            <p style="text-align:center">$@Html.DisplayFor(modelItem => item.Price)</p>
            <img class="img" src="@Html.DisplayFor(modelItem  => item.ImageURL)" />
            <p> </p>
            <button type="button" class="button" onclick="location.href='@Url.Action("ItemReviews","Reviews", new { itemId = item.Id, customer = Model.currentCustomer.FirstName })'">See Reviews</button>
        </div>
    }
</body>
</html>

